In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('airport-codes_csv.csv')
df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57421 entries, 0 to 57420
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         57421 non-null  object
 1   type          57421 non-null  object
 2   name          57421 non-null  object
 3   elevation_ft  49608 non-null  float64
 4   continent     28978 non-null  object
 5   iso_country   57175 non-null  object
 6   iso_region    57421 non-null  object
 7   municipality  51527 non-null  object
 8   gps_code      41561 non-null  object
 9   iata_code     9225 non-null   object
 10  local_code    30030 non-null  object
 11  coordinates   57421 non-null  object
dtypes: float64(1), object(11)
memory usage: 5.3+ MB

In [4]:
df['ident'].unique

<bound method Series.unique of 0            00A
1           00AA
2           00AK
3           00AL
4           00AR
          ...
57416       ZYYK
57417       ZYYY
57418    ZZ-0001
57419    ZZ-0002
57420       ZZZZ
Name: ident, Length: 57421, dtype: object>

In [5]:
def columnName(column):
    column = column.str.capitalize()
    return column

In [6]:
df.columns=columnName(df.columns)

In [7]:
df.head()

,Ident,Type,Name,Elevation_ft,Continent,Iso_country,Iso_region,Municipality,Gps_code,Iata_code,Local_code,Coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [8]:
df.isnull().sum()

Ident               0
Type                0
Name                0
Elevation_ft     7813
Continent       28443
Iso_country       246
Iso_region          0
Municipality     5894
Gps_code        15860
Iata_code       48196
Local_code      27391
Coordinates         0
dtype: int64

In [9]:
df['Local_code'] = df['Ident']

In [10]:
#df.isnull().sum()
df.drop('Iata_code',axis=1)

,Ident,Type,Name,Elevation_ft,Continent,Iso_country,Iso_region,Municipality,Gps_code,Local_code,Coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,00AR,"-91.254898, 35.6087"
...,...,...,...,...,...,...,...,...,...,...,...
57416,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,ZYYK,"122.3586, 40.542524"
57417,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,ZYYY,"123.49600219726562, 41.784400939941406"
57418,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,ZZ-0001,"1.4825, 51.894444"
57419,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,ZZ-0002,"47.296388888900005, -11.584277777799999"
57420,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,ZZZZ,"130.270556, 30.784722"

In [11]:
df['Continent'].unique()

array([nan, 'OC', 'AF', 'AN', 'EU', 'AS', 'SA'], dtype=object)

In [12]:
df['Iso_region'].unique()

array(['US-PA', 'US-KS', 'US-AK', ..., 'MN-1', 'MN-046', 'MN-071'],
      dtype=object)

In [13]:
df['Iso_country']= df['Iso_region'].str.split('-').str[0]

In [14]:
df.isnull().sum()

Ident               0
Type                0
Name                0
Elevation_ft     7813
Continent       28443
Iso_country         0
Iso_region          0
Municipality     5894
Gps_code        15860
Iata_code       48196
Local_code          0
Coordinates         0
dtype: int64

In [15]:
df = df.drop('Iata_code',axis=1)

In [16]:
df['Iso_country'].unique()

array(['US', 'PR', 'MH', 'MP', 'GU', 'SO', 'AQ', 'GB', 'PG', 'AD', 'SD',
       'SA', 'AE', 'SS', 'ES', 'CN', 'AF', 'LK', 'SB', 'CO', 'AU', 'MG',
       'TD', 'AL', 'XK', 'AM', 'MX', 'MZ', 'PW', 'NR', 'AO', 'AR', 'AS',
       'AT', 'GA', 'AZ', 'BA', 'BE', 'DE', 'BF', 'BG', 'GL', 'BH', 'BI',
       'IS', 'BJ', 'OM', 'BM', 'KE', 'PH', 'BO', 'BR', 'BS', 'CV', 'BW',
       'FJ', 'BY', 'UA', 'LR', 'BZ', 'CA', 'CD', 'CF', 'CG', 'MR', 'CH',
       'CL', 'CM', 'CR', 'CU', 'CY', 'CZ', 'SK', 'PA', 'DZ', 'ID', 'GH',
       'RU', 'CI', 'DK', 'NG', 'DO', 'NE', 'HR', 'TN', 'TG', 'EC', 'EE',
       'FI', 'EG', 'GG', 'JE', 'IM', 'FK', 'EH', 'NL', 'IE', 'FO', 'LU',
       'GT', 'NO', 'PL', 'ER', 'MN', 'PT', 'SE', 'ET', 'LV', 'LT', 'ZA',
       'SZ', 'GQ', 'SH', 'MU', 'IO', 'ZM', 'FM', 'KM', 'YT', 'RE', 'TF',
       'ST', 'FR', 'SC', 'ZW', 'MW', 'LS', 'NA', 'ML', 'GM', 'GE', 'GF',
       'SL', 'GW', 'MA', 'GN', 'SN', 'GR', 'TZ', 'GY', 'SR', 'DJ', 'HK',
       'LY', 'HN', 'VN', 'KZ', 'RW', 'HT', 'HU', 'UG', 'TL', 'IL', 'IN',
       'IQ', 'IR', 'JP', 'IT', 'JM', 'JO', 'KG', 'BD', 'KI', 'KH', 'KP',
       'KR', 'KW', 'LA', 'MY', 'PM', 'SI', 'PS', 'MT', 'MC', 'RO', 'LI',
       'TR', 'MD', 'MK', 'GI', 'RS', 'ME', 'TC', 'GD', 'MM', 'NI', 'SV',
       'MF', 'MV', 'KY', 'NC', 'CK', 'TO', 'TV', 'NU', 'WF', 'NP', 'WS',
       'PF', 'VU', 'NZ', 'LB', 'PK', 'SY', 'QA', 'YE', 'UM', 'PE', 'TH',
       'PY', 'TW', 'SG', 'VI', 'SM', 'UY', 'VE', 'AG', 'BB', 'DM', 'GP',
       'MQ', 'BL', 'TJ', 'KN', 'LC', 'TM', 'AW', 'BQ', 'CW', 'SX', 'VG',
       'AI', 'MS', 'TT', 'VC', 'UZ', 'VA', 'MO', 'BT', 'BN', 'CC', 'CX',
       'NF'], dtype=object)

In [17]:
df['Gps_code'] = df['Ident']

In [18]:
df['Elevation_ft']=df['Elevation_ft'].fillna(lambda val: val.groupby('Type')['Elevation_ft'].mean())

In [19]:
df.head()

,Ident,Type,Name,Elevation_ft,Continent,Iso_country,Iso_region,Municipality,Gps_code,Local_code,Coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,00AR,00AR,"-91.254898, 35.6087"

In [23]:
df.isnull().sum()

Ident           0
Type            0
Name            0
Elevation_ft    0
Continent       0
Iso_country     0
Iso_region      0
Municipality    0
Gps_code        0
Local_code      0
Coordinates     0
dtype: int64

In [21]:
#df=df.drop('Continent',axis=1)
df=df.dropna(axis=0)

In [22]:
df.to_csv('airport_codes_cleaned_data.csv',index=False)